header {
  background-color: #fa8b01;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

footer {
  height: 64px;
  background-color: #fa8b01;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: white;
}

.logo {
  height: 48px;
  cursor: pointer;
}

.menu-img {
  height: 32px;
  cursor: pointer;
}

.footer-links {
  color: white;
  font-size: 20px;
}

.footer-links:hover {
  text-decoration: underline;
}

.aot-section {
  background-image: url(./assets/img/aot_background.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
}

.content {
  padding: 8px 8px 0 8px;
}

.dish-card {
  border: 1px solid rgb(226, 218, 206);
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #f9f7f4;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.dish-card:hover {
  background-color: #f3efe9;
}

.dish-card-left {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
}

.price-tag {
  color: #fa8b01;
}

.add-img {
  height: 32px;
  margin: 4px;
  cursor: pointer;
}

.restaurant-info-section {
  display: flex;
  flex-direction: column;
}

.restaurant-title-container {
  display: flex;
  flex-direction: column;
  padding: 24px 0 12px 24px;
  gap: 8px;
}

.customer-review {
  color: #fa8b01;
  font-weight: bold;
}

.restaurant-img-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.restaurant-img {
  width: 112px;
  border-radius: 50%;
  position: absolute;
  top: 310px;
}

.category-container {
  display: flex;
  background-color: #f9f7f4;
  padding: 24px;
}

.category-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.arrow {
  width: 32px;
}

.category-box-link {
  padding: 12px 0 12px 24px;
}

.category-box-link:hover {
  text-decoration: underline;
}

.hauptgerichte-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.website-main {
  display: flex;
  width: 100%;
}

.page-style-main {
  width: 100%;
}

.d-none {
  display: none;
}

@media (max-width: 950px) {
  .restaurant-title-container {
    margin-top: 40px;
  }
}

@media (max-width: 630px) {
  .page-style-side {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .shopping-basket {
    width: 100%;
  }
}